#제목 {
    display: flex;
    border-bottom: 1px solid#b3afab;
    justify-content: space-around;
    margin: 10px;
}

#center {
    height: 500px;
    width: 100%;
    background-color: #f8f7f5;
    display: flex;
    align-items: center;
    justify-content: center;

}

#center>div {
    width: 600px;
    text-align: center;
}

#center>div>h3 {
    margin: 30px;
}

#제목>div {
    margin: 10px;
}

#center>div>div {
    margin: 10px;
}

#result {
    border-bottom: 1px solid#b3afab;
    padding: 15px;
    display: flex;
    justify-content: space-around
}



/*================================================= */

#onlineSer {
    text-align: center;
    margin-top: 50px;
    padding: 50px;
}

#btn {
    display: flex;
    justify-content: center;
}

#onlineSer>div {
    margin: 30px;
}

#onlineSer>h1 {
    font-size: 20px;
}

#btn>button {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 5%;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    /* <a> 태그 자체의 글씨 색을 검정색으로 변경 */
    text-decoration: none !important;
    /* 밑줄을 제거 */
}

a * {
    color: black;
    /* <a> 태그 아래의 모든 자식 요소의 글씨 색을 검정색으로 변경 */
    text-decoration: none !important;
    /* 자식 요소에서도 밑줄 제거 */
}

a:visited {
    color: black;
    /* 방문한 링크의 글씨 색을 검정색으로 변경 */
    text-decoration: none !important;
    /* 밑줄을 제거 */
}

a:active {
    color: black;
    /* 클릭한 링크의 글씨 색을 검정색으로 변경 */
    text-decoration: none !important;
    /* 밑줄을 제거 */
}

a:hover {
    color: black;
    /* 마우스를 올린 링크의 글씨 색을 검정색으로 변경 */
    text-decoration: none !important;
    /* 밑줄을 제거 */
}