:root {
    --color-shadow: #f8f7f5;
    --color-dark: #252629;
    --color-light: #ffffff;
}

/*
    공통 색상은 위 방식으로 root에 추가
    아래는 사용 예시
*/

/* footer {
    background-color: var(--color-shadow);
} */