/* Aleo 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&display=swap');
/* Noto Sans KR 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* Noto Sans KR 폰트 설정 */
body {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}

.noto-light {
    font-weight: 300;
}

.noto-regular {
    font-weight: 400;
}

.noto-medium {
    font-weight: 500;
}

.noto-bold {
    font-weight: 700;
}

/* Aleo 폰트 설정 */
.aleo {
    font-family: 'Aleo', serif;
}

.aleo-light {
    font-weight: 300;
}

.aleo-regular {
    font-weight: 400;
}

.aleo-bold {
    font-weight: 700;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-19 {
    font-size: 19px;
}

.font-size-23 {
    font-size: 23px;
}