header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.indexPage header {
    background-color: rgba(255, 255, 255, 0);
    z-index: 999;
}

.otherPage header {
    background-color: rgb(255, 255, 255, 1);
    z-index: 999;
    position: sticky;
}

header ul {
    display: flex;
}

#mainMenu a,
#utilMenu a {
    font-size: 15px;
}

.indexPage #mainMenu a,
.indexPage #utilMenu a {
    color: white;
}

.otherPage #mainMenu a,
.otherPage #utilMenu a {
    color: black;
}

#mainMenu li,
#utilMenu li {
    height: 50px;
}

#mainMenu li>a,
#utilMenu li>a {
    display: block;
    padding: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
}

#utilMenu li img {
    display: flex;
}



#logo {
    align-content: center;
}

#logo a {
    display: block;
    font-size: 23px;
    font-weight: bold;
}

.indexPage #logo a,
.indexPage span {
    color: white;
}

.otherPage #logo a,
.otherPage span {
    color: black;
}

.textContainer video {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
}

.textContainer img {
    width: 100%;
    height: auto;
    display: block;
    padding: 0;
    margin: 0;
}

.textContainer {
    position: relative;

}

.overlayText {
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    font-size: 30px;
    cursor: default;
    user-select: none;
}

#utilMenu>ul>li:last-child {
    position: relative;
}

#cartCnt {
    position: absolute;
    top: 13%;
    right: 13%;
    font-size: 10px;
    user-select: none;
    font-weight: bold;
}