* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
}

body {
    /* border: 1px solid black; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

button {
    all: unset;
    background-color: var(--color-dark);
    color: var(--color-light);
    display: block;
    width: 215px;
    height: 40px;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
}

.button-dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.button-light {
    background-color: var(--color-light);
    color: var(--color-dark);
    border: 1px solid var(--color-dark);
}