#wrap {
    margin: 0 auto;
    display: flex;
    margin-bottom: 200px;
    margin-top: 70px;
}

#sideMenu {
    width: 400px;
    height: 600px;
    padding-top: 80px;
}

#sideMenu>h2 {
    margin-bottom: 30px;
}

#sideMenu li {
    margin-bottom: 22px;
}

#content {
    margin-top: 160px;
    width: 875px;
    height: 910px;
}

#content h2 {
    margin-bottom: 30px;
}

#currentPage {
    font-weight: bold;
    text-decoration: underline;
}

.contentBox {
    width: 440px;
    height: 85px;
}

.contentBox>p {
    margin-bottom: 5px;
}

#buttons {
    display: flex;
}

#content #buttons>button {
    margin-right: 20px;
}